@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --body-font: "Poppins", sans-serif;
  --heading-font: "Bai Jamjuree", sans-serif;
  --white: #fff;
  --black: #000;
  --primary-color: #b89146;
  --heading-color: #0e1317;
  --body-color: #333334;
  --color-1: #666667;
  --color-2: #999;
  --color-3: #ccc;
  --color-4: #f7f7f7;
  --color-5: #edece7;
  --color-6: #141c21;
  --color-7: #262b2e;
  --color-8: #3e4245;
  --color-9: #8a8a8a;
  --color-10: #d9d9d9;
  --color-11: #e0e0e1;
  --color-12: #cfd0d1;
  --border-color-1: #373939;
  --border-color-2: #e7e7e8;
  --border-color-3: #e7e8e9;
  --box-shadow-1: 0px 10px 50px rgba(0, 0, 0, 0.06);
  --box-shadow-2: 0px 10px 50px rgba(0, 0, 0, 0.05);
  --color-13: #0e1111;
  --border-color-55: #dedfdf;
  --border-color-5: #282a2a;
  --box-shadow-3: 0px 7px 50px rgba(0, 0, 0, 0.07);
  --box-shadow-4: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

body {
  min-height: 150vh;
  font-family: var(--body-font);
  background: #798540;
}
