@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;

}
body {
  font-family: var(--body-font);
  color: var(--body-color);
  font-size: 15px;
  font-weight: 400;
}
p {
  line-height: 26px;
  margin-bottom: 0 !important;
}
h1 {
  font-weight: 500;
}
h2,h5,span{
  font-family: var(--heading-font);
}
:root {
  --body-font: "Poppins", sans-serif;
  --heading-font: "Bai Jamjuree", sans-serif;
  --white: #fff;
  --black: #000;
  --primary-color: #b89146;
  --heading-color: #0e1317;
  --contact-bg-color:#0e1317e8;
  --body-color: #333334;
  --color-1: #666667;
  --color-2: #999;
  --color-3: #ccc;
  --color-4: #f7f7f7;
  --color-5: #edece7;
  --color-6: #141c21;
  --color-7: #262b2e;
  --color-8: #3e4245;
  --color-9: #8a8a8a;
  --color-10: #d9d9d9;
  --color-11: #e0e0e1;
  --color-12: #cfd0d1;
}

body {
  font-family: var(--body-font);
}
